@tailwind base;
@tailwind components;
@tailwind utilities;
  
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  } 
  
  
  #root{
    width: 100%;
    height: 100%;
    
  }
  
  .form_label {
    text-transform: capitalize;
    font-weight: 500;
  }
  
  input {
    padding: 8px 6px;
    border-radius: 8px;
    background: #f2f2f2;
  }
  input#file{
    width: 220px;
  }
  
  .react-tel-input .form-control {
    width: 100%;
    background: #f2f2f2;
    border: none;
    padding: 20px;
    padding-left: 48px;
  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  button:hover {
    /* background: linear-gradient(to right, #000000, #5e656c,#000000); */
    background: #202020;
    transition: all .5s ease;
  }
  
  .success {
    margin: 0;
    background-color: green;
    padding: 6px;
    border-radius:4px;
    width: fit-content;
    
  }
  
  .error {
    margin: 0;
    background-color: red;
    padding: 6px;
    border-radius:4px;
    width: fit-content;
  }